.img-fundo--body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.04; /* controla a transparência da imagem */
  z-index: -1;   /* mantém atrás de todo o conteúdo */
  pointer-events: none; /* impede que a imagem atrapalhe cliques */
}

.main-header--container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header--left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

.main-header--left > h1 {
  position: relative;
  overflow: hidden;
  color: transparent;
  font-size: 2.2rem;
  font-weight: normal;
  z-index: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;

  background: linear-gradient(90deg, 
  rgb(0, 191, 255), 
  rgba(255, 255, 255, 0.05), 
  rgb(0, 191, 255));

  text-shadow: -4px 0px 2px rgba(0, 191, 255, 0.1);

  background-size: 10000%;
  background-position: 250% 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: scroll-background 5s alternate-reverse infinite;
  

  /* background: linear-gradient(to right, 
  rgb(255, 0, 157), 
  rgb(162, 0, 255), 
  rgb(68, 0, 255),
  rgb(162, 0, 255), 
  rgb(255, 0, 157));
  -webkit-background-clip: text; */
}

@keyframes scroll-background {
  from {
    background-position: 200% ;
  }
  to {
    background-position: -50% ;
  }
}

.main-header--left > h1.--home-especializando {
  font-size: 1.5rem;
  font-weight: bold;
  color: transparent;
  min-width: max-content;
  background-color: rgb(0, 191, 255);
  -webkit-background-clip: text;
  text-shadow: -6px 0px 2px rgba(0, 191, 255, 0.1);
}

.main-header--right {
  flex-grow: 1;
  height: 100%;
  text-align: end;
  margin-top: 9%;
  margin-bottom: 6%;
  margin-right: 4%;
  width: 0vw;
}

.main-header--right img{
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  width: 100%;
}

img.--perfil-InMobile {
  display: none;
}

/* Rubrica com fonte personalizada */

/* Obs: Não coloca em variaveis no index.js pois só é utilizado aqui essa fonte. */

@font-face {
  font-family: 'Rubrica Upper Case Font Family';
  src: url('./../../resources/fonts/Jonathan Hetegral.otf');
}

.main-header--left > h2.--home-rubrica {
  font-family: 'Rubrica Upper Case Font Family';
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: #fff;

  text-shadow: none;

  margin-bottom: -3.5rem;
}

.moldura-dois {
border: 12px inset rgb(0, 0, 0);
padding: 5px;
background: rgb(61, 61, 61);
}

.moldura-um {
box-shadow: 0px 0px 8px 3px rgb(0, 191, 255);
border: 20px ridge rgb(61, 61, 61);
padding: 25px;

background: transparent url('../../resources/images/home/moldura_cinza.jpg');
background-size: 300%;
}

@media (max-width: 810px)
{
  .moldura-um {
    align-items: center;
  }
  
  .main-header--container {
      flex-direction: column;
      align-items: center;
      justify-content: end;
  }

  .main-header--left {
      order: 2;
      flex-grow: 3;
  } 
  
  .main-header--right {
    order: 1;
    width: 90%;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }
  
  section {
      top: 0;
  }

  .main-header--left {
      padding: 1rem 0;
  }

  .main-header--left > h1 {
      font-size: 2rem;
  }
 
  .main-header--left > h1.--home-especializando {
      min-width: fit-content;
      font-size: 1.35rem;
  }  

  .main-header--container > .main-header--left > h2.--home-rubrica {
      font-size: 5.25rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
  }
}

@media (max-width: 425px)
{
  .main-header--right {
    order: 1;
    width: 75%;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }

  .main-header--left > h1 {
      font-size: 1.25rem;
      line-height: 1.5rem;
  }

  .main-header--left > h1.--home-especializando {
      font-size: .8rem;
      line-height: .9rem;
  }  

  section {
      top: 0;
  }

  img.--perfil-InMobile { 
      display: inherit;
  }

  img.--perfil-InDesktop { 
      display: none;
  }


  .main-header--left {
      padding: 1rem 0;
  }

  .main-header--container > .main-header--left > h2.--home-rubrica {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .main-header--left {
      padding: 1rem 0;
  }
  
}