footer {
  width: 100%;
  background: var(--main-bgColorLightGrey);
  border-radius: 5px;
  font-size: .9rem;
  color: #ffffff;
  font-family: var(--main-fontfamily-Press2PLight);
  /* font-weight: bold;
  line-height: 1rem;
  min-height: 30vh; */
  padding: 1rem 2rem;

  /* flex-wrap: wrap; */
}

.footer-wrapper {
  display: inline;
  justify-content: space-between;
  align-items: relative;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

/* Colunas individuais */
.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Ãcones no canto esquerdo */
.footer-left {
  justify-content: flex-start;
  position: relative;
  /* top: 30px; */
}

/* Texto no meio */
.footer-center {
  justify-content: center;
  position: relative;
  /* top: 100px; /* Move pra baixo */
  /* margin-top: -100px;  */
}

/* E-mail no canto direito */
.footer-right {
  justify-content: flex-end;
  position: relative;
  /* top: 80px; */
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    justify-content: center;
  }
}

/* Responsivo */
@media (min-width: 1024px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
  }

  footer {
    font-size: .7rem;
    margin-top: 6rem;
  }

  .footer-description > p {
    font-size: .7rem;
  }

  footer span {
    font-size: .7rem;
  }

  .footer-left {
    order: 1;
    margin-bottom: -1rem;
  }
  .footer-center {
    order: 2;
  }
  .footer-right {
    order: 3;
    margin-bottom: -1.5rem;
  }
}

.footer-description > p {
  color: white;
  font-size: 1rem;
  font-family: var(--main-fontfamily-Press2PLight);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.footer-icon-email--container > h3 > a {
  color: rgb(0, 174, 255);
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

footer svg {
  font-size: 2.5rem;
  color: black;
}

footer span {
  font-size: 1rem;
}

footer h3 {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  gap: .5rem;
  min-width: fit-content;
  flex-wrap: wrap;
}

.footer-icons--click {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 3px ridge #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 4px;
}

.footer-icons--click svg {
  font-size: 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease-in-out .3s;
  color: white;
}

.footer-icons--click a:nth-child(1) > svg {
  border-bottom-left-radius: 10px;
}

.footer-icons--click a:nth-child(5) > svg {
  border-bottom-right-radius: 10px;
}

.footer-icons--click svg:hover {
  box-shadow: -2px 2px 1px rgb(255, 255, 255);
  cursor: pointer;
}

/* .footer-icons--noClick {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-icons--noClick div {
  display: flex;
  align-items: center;
}

.footer-icons--noClick div svg{
  font-size: 2rem;
}

.footer-icons--noClick div p {
  font-size: .7rem;
} */

.footer-icon--email {
  padding-top: 8px;
}

.footer-icon--email svg {
  font-size: 1rem;
  margin-right: 3px;
  color: white;
}

.footer-icon-email--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .3rem;
}


@media (max-width: 810px)
{
  .footer-icons--click svg {
      font-size: 2rem;
  }

  /* .footer-icons--noClick div svg {
      font-size: 1.5rem;
  } */

  /* footer span {
      font-size: 1.2rem;
  } */
  footer {
      font-size: .8rem;
  }

  footer h3 {
      font-size: .65rem;
  }
}


@media (max-width: 400px)
{
  .footer-icons {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  /* .footer-icons--noClick {
      align-items: center;
  } */

  footer {
      font-size: .7rem;
  }

  footer h3 {
      font-size: .64rem;
  }
  .footer-icon-email--container {
      margin-top: .2rem;
  }
}
